@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ff9000;
  --color-secondary: #337ab7;
  --color-dark: #111827;
}

html { 
  scroll-behavior: smooth;
}

body {
  @apply dark:bg-dark;
  font-family: "Manrope";
}


@utility move-up {
  @apply transition-transform duration-300 hover:-translate-y-1;
}

@utility slide-from-left {
  animation: slide-from-left 0.3s ease-out;
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

p {
  @apply w-fit
}

/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}