@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ff9000;
  --color-secondary: #337ab7;
  --color-dark: #111827;
}

body {
  @apply dark:bg-dark;
}


@utility move-up {
  @apply transition-transform duration-300 hover:-translate-y-0.75;
}

@utility slide-from-left {
  animation: slide-from-left 0.3s ease-out;
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

p {
  @apply w-fit
}